<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vatsal">

    <application
        android:allowBackup="true"
        android:label="ResumeBuilder"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResumeBuilder"
>
        <!-- Launcher Activity -->
        <activity android:name="com.example.vatsal.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name="com.example.vatsal.ResumeFormActivity"/>
        <activity android:name="com.example.vatsal.PortfolioActivity"/>
        <activity android:name="com.example.vatsal.ResumePreviewActivity"/>

    </application>
</manifest>
